@model List<Announcement.Models.Announcements>
@{
    ViewData["Title"] = "Dashboard";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
             Announced By
            </th>
            <th>
               Created Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <a asp-controller="Announcements" asp-action="Details" asp-route-id="@item.Id">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>